---
import Layout from '@/layouts/Layout.astro';
import Dashboard from '@/components/dashboard/dashboard';
---

<Layout title="Dock Sight">
  <main class="p-8 text-slate-200 font-sans bg-app-bg min-h-screen">
    <Dashboard client:only="react" />
  </main>
</Layout>